.playlist-card{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px grey;
    display: flex;
    gap: 20px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-card button{
   background-color: rgb(250, 168, 16) ;
   border: none;
   cursor: pointer;
   border-radius: 4px;
   padding: 10px 20px;
}

.playlist-card button:hover{
    background-color: rgb(252, 185, 59);
}